/*
 * LocationIQ
 *
 * LocationIQ provides flexible enterprise-grade location based solutions. We work with developers, startups and enterprises worldwide serving billions of requests everyday. This page provides an overview of the technical aspects of our API and will help you get started.
 *
 * The version of the OpenAPI document: 1.1.0
 * 
 * Generated by: https://openapi-generator.tech
 */

use std::rc::Rc;
use std::borrow::Borrow;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use serde_json;
use futures::Future;

use super::{Error, configuration};
use super::request as __internal_request;

pub struct MatchingApiClient<C: hyper::client::Connect> {
    configuration: Rc<configuration::Configuration<C>>,
}

impl<C: hyper::client::Connect> MatchingApiClient<C> {
    pub fn new(configuration: Rc<configuration::Configuration<C>>) -> MatchingApiClient<C> {
        MatchingApiClient {
            configuration,
        }
    }
}

pub trait MatchingApi {
    fn matching(&self, coordinates: &str, generate_hints: Option<&str>, approaches: Option<&str>, exclude: Option<&str>, bearings: Option<&str>, radiuses: Option<&str>, steps: Option<&str>, annotations: Option<&str>, geometries: Option<&str>, overview: Option<&str>, timestamps: Option<&str>, gaps: Option<&str>, tidy: Option<&str>, waypoints: Option<&str>) -> Box<dyn Future<Item = crate::models::DirectionsMatching, Error = Error<serde_json::Value>>>;
}

impl<C: hyper::client::Connect>MatchingApi for MatchingApiClient<C> {
    fn matching(&self, coordinates: &str, generate_hints: Option<&str>, approaches: Option<&str>, exclude: Option<&str>, bearings: Option<&str>, radiuses: Option<&str>, steps: Option<&str>, annotations: Option<&str>, geometries: Option<&str>, overview: Option<&str>, timestamps: Option<&str>, gaps: Option<&str>, tidy: Option<&str>, waypoints: Option<&str>) -> Box<dyn Future<Item = crate::models::DirectionsMatching, Error = Error<serde_json::Value>>> {
        let mut req = __internal_request::Request::new(hyper::Method::Get, "/matching/driving/{coordinates}".to_string())
            .with_auth(__internal_request::Auth::ApiKey(__internal_request::ApiKey{
                in_header: false,
                in_query: true,
                param_name: "key".to_owned(),
            }))
        ;
        if let Some(ref s) = generate_hints {
            req = req.with_query_param("generate_hints".to_string(), s.to_string());
        }
        if let Some(ref s) = approaches {
            req = req.with_query_param("approaches".to_string(), s.to_string());
        }
        if let Some(ref s) = exclude {
            req = req.with_query_param("exclude".to_string(), s.to_string());
        }
        if let Some(ref s) = bearings {
            req = req.with_query_param("bearings".to_string(), s.to_string());
        }
        if let Some(ref s) = radiuses {
            req = req.with_query_param("radiuses".to_string(), s.to_string());
        }
        if let Some(ref s) = steps {
            req = req.with_query_param("steps".to_string(), s.to_string());
        }
        if let Some(ref s) = annotations {
            req = req.with_query_param("annotations".to_string(), s.to_string());
        }
        if let Some(ref s) = geometries {
            req = req.with_query_param("geometries".to_string(), s.to_string());
        }
        if let Some(ref s) = overview {
            req = req.with_query_param("overview".to_string(), s.to_string());
        }
        if let Some(ref s) = timestamps {
            req = req.with_query_param("timestamps".to_string(), s.to_string());
        }
        if let Some(ref s) = gaps {
            req = req.with_query_param("gaps".to_string(), s.to_string());
        }
        if let Some(ref s) = tidy {
            req = req.with_query_param("tidy".to_string(), s.to_string());
        }
        if let Some(ref s) = waypoints {
            req = req.with_query_param("waypoints".to_string(), s.to_string());
        }
        req = req.with_path_param("coordinates".to_string(), coordinates.to_string());

        req.execute(self.configuration.borrow())
    }

}
